.home__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
}

.home__content--container {
    width: 600px;
}

.home__title {
    font-family: var(--title-font);
    font-size: 3rem;
    font-weight: 600;
}

.home__subtitle {
    font-family: var(--title-font);
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.home__phrase {
    font-family: var(--body-font);
    font-size: 1.1rem;
    margin: 1rem 0 1rem
}

.home__btn {
    border: 1px solid #bbb;
    cursor: pointer;
    font-family: var(--title-font);
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 3rem;
}