.home__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'JetBrains Mono', monospace;
    height: 90vh;
    justify-content: center;
}

.home__content {
    font-family: var(--title-font);
    width: 600px;
}

.home__title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: .3rem;
}

.home__subtitle {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

/* .img__container {
    height: 100vh;
    width: 100%;
} */

.img__photo {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.tech__container {
    align-items: center;
    display: flex;
}

.tech__icon {
    height: 3rem;
    margin-left: 3rem;
    width: 3rem;
}