.navbar__container {
    align-items: center;
    border-bottom: 1px solid black;
    display: flex;
    font-family: var(--title-font);
    height: 10vh;
    justify-content: space-around;
}

.ul__container {
    display: flex;
    list-style: none;
}

.ul__container li {
    margin-left: 2rem;
}