.navbar__container {
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    font-family: 'JetBrains Mono', monospace;
    justify-content: space-around;
}

.ul__container {
    display: flex;
    list-style: none;
}

.ul__container li {
    margin-left: 2rem;
}